.signupform {
    display: flex;
    flex-direction: column;
    gap:5px;
    max-width: 400px;
    padding: 20px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-fluid{
    background-color: #fff;
}
  
mat-error{
font-size: small;
padding: 0 10px 0 10px;
}

 h2{
    color: #FF4081;
}

#signupform{
    margin: 20px;
}

.response{
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 600;
    font-size: large;
}